/* Search Container Styles (Modified for Main content placement and width) */
.search-bar-container-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    max-width: 50%;
    /* Increased max width for search bar in main */
    transition: transform 0.3s ease, max-height 0.3s ease, background-color 0.2s ease;
    overflow: visible;
    /* Allow suggestions to overlap */
    z-index: 1001;
    /* Ensure search suggestions are above main */
}

.search-container:hover {
    transform: translateY(0);
    /* Remove previous translateY */
    max-height: 500px;
    /* Example: Increase height for 5x effect, adjust as needed */
    background-color: transparent;
    /* Background handled by main/body */
}

.search-container.main-search {
    max-width: 400px;
}

.search-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    background: rgba(54, 54, 54, 0.9);
    /* Add opacity */
    color: #d9dddc;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #555;
    /* Change border-radius to make corners fully round */
    border-radius: 50px;
    /* Or a very large pixel value like 50px or 50% */
    transition: border-color 0.2s, background 0.2s;
    background-image: url('/interface/search.png');
    background-position: 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1.25rem;
}

.search-input:focus {
    outline: none;
    border-color: #e5e7eb;
    background: rgba(74, 74, 74, 0.9);
    /* Add opacity */
}

@media (max-width: 768px) {
    .search-input {
        font-size: 0.875rem;
        padding: 0.6rem 0.8rem 0.6rem 2.25rem;
        background-size: 1.1rem;
        background-position: 0.6rem center;
    }
}

@media (max-width: 480px) {
    .search-input {
        font-size: 0.875rem;
        padding: 0.6rem 0.8rem 0.6rem 2.25rem;
        background-size: 1.1rem;
        background-position: 0.6rem center;
    }
}

.search-suggestions {
    position: absolute;
    width: 100%;
    max-height: 300px;
    top: calc(100% + 0.5rem);
    left: 0;
    z-index: 10000;
    background: rgba(42, 42, 42, 0.9);
    /* Add opacity */
    /* border: 1px solid #808588;*/
    border-radius: 0.5rem;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.search-suggestion {
    padding: 0.75rem 1rem;
    color: #d9dddc;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.search-suggestion:hover {
    background: rgba(54, 54, 54, 0.9);
    /* Add opacity */
}

@media (max-width: 768px) {
    .search-suggestion {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
    }
}

@media (max-width: 480px) {
    .search-suggestion {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
    }
}